@import url('https://fonts.googleapis.com/css2?family=Oswald:wght@200..700&display=swap');

body {
    font-family: "Oswald", sans-serif;
    margin: 0;
    background-color: #e3f4fa;
    color: #333;
    position: absolute;
    width: 100vw;
    height: 100vh;
  }

header {
  width: 90%;
  padding: 20px 50px;
  background-color: #e3f4fa;
  overflow: hidden;
}
 

.logo {
  float: left;
  font-size: 18px;
  color: #333;
  font-weight: bold;
}

.logoimg {
  vertical-align: middle;
  height: 40px;
  margin-right: 10px;
}

nav {
  float: right;
  display: flex;
  gap: 20px;
 
}

nav a {
  text-decoration: none;
  color: #333;
  font-size: 18px;
  font-weight: bold;
  transition: color 0.3s;
  right: 400px;
}


.btn-login {
  background-color: #0d6efd;
  color: rgb(255, 255, 255);
  padding: 8px 16px;
  border-radius: 16px;
}

.container {
  width: 100%;
  text-align: center; 
  padding: 60px 50px;
}

.text-box, .img-box {
  display: inline-block;   
  vertical-align: middle;  
}

.text-box {
  width: 45%; 
  text-align: left;  
}

.text-box h1 {
  font-size: 36px;
  font-weight: bold;
  margin-bottom: 20px;
}

.text-box p {
  font-size: 16px;
  color: #666;
  margin-bottom: 25px;
  line-height: 1.6;
}

.btn-primary {
  background-color: #0d6efd;
  color: white;
  padding: 12px 24px;
  border: none;
  border-radius: 6px;
  cursor: pointer;
}

.img-box {
  width: 45%;
  text-align: center;
}

.img-box img {
  width: 100%;   
  max-width: 400px; 
}

